<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heroku Website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>This is the help page.</p>
    {{>links}}
    {{> footer}}
  </body>
</html>
